html{scroll-behavior: smooth;  }
*{padding:0; margin:0; box-sizing: border-box;}
body{background: #0c0b0b; font-family: Georgia, 'Times New Roman', Times, serif;}

header{
    width:100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header img{
    width:30rem;
    height:auto;
    border-radius: 50%;
    animation: pulse 1s infinite;
}
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0px rgba(0,0,0,0.5);
    }
    100%{
        box-shadow: 0 0 0 30px rgba(0,0,0,0);
    }
}
header h3{
    color:rgb(215, 18, 18);
    margin:1.5rem 0; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: bolder;
}
header p{
    color:white;
}
.arrow{
    color:white;
    margin-top: 5rem;
    font-size: 5rem;
    animation: arrow 2s ease-in-out infinite;
}
@keyframes arrow{
    0%{color: #f1f3f3;}
    50%{color: #c8dada;}
    100%{color:#e7eff0;}

}
.container{
    width: 100%;
    height: 150vh;
    display:grid;
    grid-template-columns: 1fr  1fr  1fr 1fr;
    grid-template-rows: 1fr  1fr 0.8fr 0.2fr;
    gap:1rem;
    grid-template-areas: "profile profile skills skills"
                         "edu edu edu  lang"
                         "contact exp exp exp"
                         "footer footer footer footer";
                         padding:2rem;
}
        .profile{
            background: white;
            color:rgb(40, 39, 39);
            padding: 2rem;
            grid-area: profile;

        }
        .skills{
            background: #d61111;
            color:rgb(224, 216, 216);
            padding: 2rem;
            grid-area: skills;

        }
        .edu{
            background: #d61111;
            color:white;
            padding: 2rem;
            grid-area: edu;
        }
        .lang{
            background:white;
            color:#080807;
            padding: 2rem;
            grid-area: lang;
        }
        .contact{
            background:white;
            color:#0a3d62;
            padding: 2rem;
            grid-area: contact;
            
        }
        .exp{
            background: #282929;
            color:white;
            padding: 2rem;
            grid-area: exp;
            }
        footer{
            color:white;
            background: rgb(214, 67, 9);
            padding: 2rem;
            grid-area: footer;
        }

h2{
    margin-bottom: 1rem;

}   
.profile p{
    padding:0.3rem 1rem;
    text-align: justify;
    line-height: 2.2rem;
}   
.profile a{
    text-decoration: none;
    padding: 0.5rem 0.7rem;
    background: #0a3d62;
    color:white;
}  
.skills div{
    width:100%;
    padding:0.5rem 1rem;

}
.skills div progress[value]{
    width:100%;
    height:1rem;
}
.edu h2{
    letter-spacing: 0.1rem;
}
.edu p{
    padding:0.3rem 1rem;
    text-align: justify;
    line-height: 2.2rem;
}
.edu a{
    text-decoration: none;
    padding: 0.5rem 0.7rem;
    background:white;
    color:black;
    font-weight: bold;

}
/* portfolio sec  */

.portfolio-sec{
    height: 110vh;
    background-color: rgb(7, 7, 7);
}

.portfolio > h4{
    color: whitesmoke
    margin-bottom: 50px;
}

.portfolio-child img{
    width: 15%;
}

.portolio-parent{
    gap: 30px;
}

.portfolio-child{
    border: 1px solid var(--red-color);
    border-radius: 8px;
    transition: 0.3s ease;
    cursor: pointer;
}

.portfolio-child:hover{
    transform: scale(1.1);
    background-color: rgb(214, 67, 9);
}

.portfolio-child h3{
    margin-top: 10px;
}

.portfolio-child p{
    margin-top: 5px;
    line-height: 1.4;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
}

.portfolio-child button{
    margin: 15px;
}
.contact div i{
    margin-right: 0.2rem;
}   
.contact p{
    margin:1rem 0;
    cursor:pointer;
}  
.exp p{
    padding:0.3rem 1rem;
    text-align: justify;
    line-height: 2.2rem;
}
footer i{
    background: white;
    color:black;
    padding:0.5rem;
    margin:1rem 0.2rem;
    border-radius: 50%;
    transition: 0.4s;
} 
footer i:hover{
    background: rgb(181, 169, 3);
    color:white;
    cursor:pointer;
}
